.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

/* Aqui comenzare a poner un label con fondo*/

.label-fondo {
  background-color: #5b515f; /* Cambia el color de fondo a tu gusto */
  padding: 5px; /* Agrega un poco de espacio alrededor del texto */
}