/* Vamos a importar las fuentes que se utilizarán para todo el texto de la página */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');

/*Aqui comienza iconos para dashboard*/


/* Estas clases son las que ayudarán con los colores principales que se usarán en la página, sobre todo en los botones*/
.colorFacturyme{
    background-color: #3101ff;
    border: none;
}
.colorFacturyme:hover{
    background-color: #bf64e8;
    color: white;
}

/* Lo siguiente se usará para los texto a lo largo del proyecto */
.textoFacturyme{
    font-family: 'Montserrat', sans-serif;
	size: 50;
}


/* Estas son modificaciones al contenido del encabezado */
#textoEncabezado{
    font-size: 20px;
}
#separacionEncabezado{
    padding: 50px;
}
#botonEncabezado{
    width: 100px;
    height: 40px;
    font-size: 15px;
}

/* Estas son modificaciones al texto de la pantalla de inicio */
#contenidoInicioIzquierdo{
    float:left;
    padding-top: 190px;
    padding-left: 200px;
    font-size: 25px;
}

#contenidoInicioIzquierdo h1{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
	color: #000;
}

#contenidoInicioIzquierdo a{
    font-size: 25px;
	
}

#contenidoInicioIzquierdo p {
	color: #000;
}

.fondoInicio{
    background-image:url(/imagenes/fondoBlancoInicio.png);
    background-size: cover;
}

.negro{
	color: #000;
}

.fondoRegistro{
    background-image:url(/imagenes/fondoBlancoRegistro.png);
    background-size: cover;
}

.fondoFactura{
    background-image:url(/imagenes/FondoCentral.png);
    background-size: cover;
}
/* ---------------------------- Estilo del login----------------------------------------------------------- */
.cuerpoMorado{
    background-image: linear-gradient(to bottom right, #5608e8, #cd20a1);
}

/*el encabezado*/
.headerLogin {
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: none;
}

/*modificacion del titulo de pagina*/
.Titulo {
	color: #fff;
	text-align: center;
	height: 10vh;
	padding: 20px;
}

/*Div de contenido*/
.intro{
    overflow:hidden;
	font-size: 2.0em;
	text-align: center;
	height: 10vh;
	color: #ffffff;
}


/*primer contenedor de llenado*/
.firstcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 40vh;
	color: white;
}



/*segundo contenedor*/
.seccontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

/*Caracteristicas de la linea de llenado de cuenta y contraseña*/
input {
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 10px;
	border: none;
	font-size: 16px;
	color: #6b5b95;
	width: 500px;
}

/*posicionamiento del boton de home*/
.btnhome {
	background-color: #f4a9f3;
	border: none;
	border-radius: 15px;
	padding: 10px 30px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
	margin-right: 15px;
}

/*reaccion del boton de home*/
.btnhome:hover {
    background-color: #f4a9f3;
    color: #6b5b95;
}

/*posicionamiento del boton de faq*/
.btnfaq {
	background-color: #f4a9f3;
	border: none;
	border-radius: 15px;
	padding: 10px 40px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
    margin-left: 15px;
	margin-right: 15px;
}

/*reaccion del boton faq*/
.btnfaq:hover {
    background-color: #f4a9f3;
    color: #6b5b95;
}

/*posicionamiento del boton profile*/
.btnprofile{
    background-color: #5812f0;
	border: none;
	border-radius: 15px;
	padding: 10px 40px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
    margin-left: 15px;
}

/*reaccion de boton de de profile*/
.btnprofile:hover {
    background-color: #5812f0;
    color: #f4a9f3;
}

/*posicionamiento de boton de inicio de sesion*/
.botonLogin {
	background-color: #0c1711;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
}

/*Personalizacion del boton de iniciar sesion*/
button:hover {
    background-color: #ffffff;
    color: #000000; 
}

/*logo sat*/
.small-logo {
	width: 50px;
	margin-left: 15px;
	margin-right: 15px;
}


/*el div que mandaria al faq*/
.bottomcontainer {
    text-align: center;
	size: 45px;
	text-justify: auto;
	padding-bottom: 15%;
}

/* ---------------------------- Estilo del FAQ----------------------------------------------------------- */

  .accordion .accordion-item {
	border-bottom: 1px solid #e5e5e5;
  }
  .accordion .accordion-item button[aria-expanded='true'] {
	border-bottom: 1px solid #f4a9f3;
  }
  .accordion button {
	position: relative;
	display: block;
	text-align: left;
	width: 100%;
	padding: 1em 0;
	font-size: 1.15rem;
	font-weight: 400;
	border: none;
	background: none;
	outline: none;
  }
  .accordion button:hover,
  .accordion button:focus {
	cursor: pointer;
	color: #f4a9f3;
  }
  .accordion button:hover::after,
  .accordion button:focus::after {
	cursor: pointer;
	color: #f4a9f3;
	border: 1px solid #f4a9f3;
  }
  .accordion button .accordion-title {
	padding: 1em 1.5em 1em 0;
	font-size: 40px;
	color: #fff;
  }
  .accordion button .icon {
	display: inline-block;
	position: absolute;
	top: 18px;
	right: 0;
	width: 22px;
	height: 22px;
	border: 1px solid;
	border-radius: 22px;
  }
  .accordion button .icon::before {
	display: block;
	position: absolute;
	content: '';
	top: 9px;
	left: 5px;
	width: 10px;
	height: 2px;
	background: currentColor;
  }
  .accordion button .icon::after {
	display: block;
	position: absolute;
	content: '';
	top: 5px;
	left: 9px;
	width: 2px;
	height: 10px;
	background: currentColor;
  }
  .accordion button[aria-expanded='true'] {
	color: #f4a9f3;
  }
  .accordion button[aria-expanded='true'] .icon::after {
	width: 0;
  }
  .accordion button[aria-expanded='true'] + .accordion-content {
	opacity: 1;
	max-height: 9em;
	transition: all 200ms linear;
	will-change: opacity, max-height;
  }
  .accordion .accordion-content {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 200ms linear, max-height 200ms linear;
	will-change: opacity, max-height;
	color: #fff;
  }
  .accordion .accordion-content p {
	font-size: 1rem;
	font-weight: 300;
	margin: 2em 0;
	color: white;
  }
  
  #tituloFAQ{
	font-size: 80px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
  }
  
  .fondoFAQ{
    background-image:url(/imagenes/FondoFAQ.png);
    background-size: cover;
}

.accordion{
	--bs-accordion-bg: none;
	--bs-accordion-border-color: none;
}

#FAQexploits, ::after, ::before {
    box-sizing: border-box;
    color: white;
}

/* ---------------------------- Estilo del Perfil----------------------------------------------------------- */
.colorboton {
	background-color: #b701ff;
	border: none;
	width: auto;
	height: 5%;
	font-size: 150%;
	position: relative;
    left: 10px;
}

.colorbotonrexiz {
	background-color: #621ce6;
	border: none;
	padding: 1px 5px;
	font-size: 150%;
}

.recizquierdo {
    width: 30%;
    height: 25%;
    border: 20% solid #b701ff;
    padding: 10px;
}

.histortialcuadro {
	background-color: rgb(51, 190, 51);
	padding: 0.5%;
	border: none;
}

.cuadrocomparativo {
	border: 2% solid #b701ff;
	border-radius: 10px;
	padding: 1%;
	float: right;
	transform: scale(1);
	background-color: #f2f2f2;
}

